---
// const {title} = Astro.props
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>🎄 Advent of Code</title>
    <style>
      :root {
        color-scheme: dark;
      }
    </style>
  </head>
  <body>
    <h1 class="text-4xl">Advent of Code 🎄</h1>
    <nav>
      <a href="/">Home</a>
      <a href="/2020">2020</a>
      <a href="/2019">2019</a>
      <a href="/2018">2018</a>
      <a href="/2017">2017</a>
      <a href="/2016">2016</a>
      <a href="/2015">2015</a>
    </nav>
    <slot />
  </body>
</html>
